# gradle-wrapper.jar IS committed to git for reproducible builds
# but gradlew/gradlew.bat are also committed
/.gradle
/captures/
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
